<%= render partial: "shared/navbar", locals: {merchant_name: @merchant.name} %>

<h3>My Invoices:</h3>

<div class="d-flex justify-content-center">
  <h2>My Invoices</h2>
  </div>
    <ul style="list-style-type:none;", id="merchant-invoices">
      <% @merchant.unique_invoices.each do |invoice| %>
        <li>
          Invoice #<%= link_to "#{invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice.id}" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
