<%= render partial: "shared/admin_dashboard" %>

<div class="d-flex justify-content-center">
  <h2>Invoices: </h2>
  </div>
    <ul id="admin-invoices">
      <% @invoices.each do |invoice| %>
        <li>
          Invoice: <%= link_to "#{invoice.id}", admin_invoice_path(invoice.id) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>