 <div class="row">
  <div class="col border border-1 d-flex justify-content-between mt-5">
    <div class="d-flex border border-1 flex-column justify-content-center">
        <h2>Upcoming Holidays</h2>
      </div>
        <div>
          <nav class="border border-1 d-flex">
            <div class="m-3">
            <% @holidays.each do |holiday| %>
              <li> Holiday: <%= holiday.name %>, Date: <%= holiday.date %> </li>
            <% end %>
          </div>
        </div>
      </nav>
    </div>
  </div>