<h1>Admin Merchants</h1>

  <p>Enabled Merchants: </p>
<ul id="admin-enabled_merchants">
    <% @merchants.each do |merchant| %>
    <% if merchant.enabled? %>
  <li>
   Name: <%= merchant.name %>
  </li>
<% end %>
<% end %>
</ul>

<p>Disabled Merchants: </p>
<ul id="admin-disabled_merchants">
    <% @merchants.merchant_status(0).each do |merchant| %>
  <li>
   Name: <%= merchant.name %>
  </li>
<% end %>
</ul>