<h1> <%= @merchant.name %> </h1>
<h5> <%= link_to "Merchant Items List", "/merchants/#{@merchant.id}/items" %> </h5>
<h5> <%= link_to "Merchant Invoices Index", "/merchants/#{@merchant.id}/invoices" %> </h5>